/* General CSS */

body {
    font-family: 'Oswald', 'Futura', sans-serif;
}

#wrapper {
    color: white;
}

#content {
    background: #4e89ae;
    padding: 25px;
    margin: 0 30%;
}

#content>h1 {
    font-size: 24px;
    text-align: center;
    padding-top: 0;
    margin-bottom: 2rem;
}


/* Delete Buttons */

.t10 {
    margin-top: 10px;
}


/* To-Do List */

.t20 {
    margin-top: 20px;
}

.list-group-item {
    color: black;
}

.todo-completed {
    text-decoration: line-through;
    background: rgba(149, 165, 166, .3);
}


/* Footer */

footer {
    margin-top: 20px;
    color: white;
}
